**/__pycache__/
**/myenv/
**/venv*/
**/.DS_Store
**/*.pyc

**/instance/

**/.pytest_cache/
**/.coverage
**/htmlcov/

**/*.local
**/build/
**/*.egg-info/

**/images/
**/*.log

# ignore IDE configs
**/.idea
**/.vscode

# ignore node.js pkgs
**/node_modules

# ignore frontend test json files
**/test_jsons/test*.json

# ignore vite build dist
**/dist

# ignore vite config files
**/.vite

# ignore vite ssg
**/.vite-ssg-dist
**/.vite-ssg-temp
**/dist-ssr

*.png
*.json
*.env